<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <mat-toolbar>Employee Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/employee/profile" routerLinkActive="active-link">Profile</a>
      <a mat-list-item routerLink="/employee/check-in" routerLinkActive="active-link">Check-In</a>
      <a mat-list-item routerLink="/employee/attendance-history" routerLinkActive="active-link">Attendance History</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" class="hide-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Employee Dashboard</span>
      <span class="spacer"></span>
      <span *ngIf="employeeName" class="welcome">Welcome, {{ employeeName }}</span>
      <button mat-button color="accent" (click)="logout()">
         Logout
      </button>
    </mat-toolbar>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
