<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/employee-list" routerLinkActive="active-link">Employee List</a>
      <a mat-list-item routerLink="/admin/add-employee" routerLinkActive="active-link">Add Employee</a>
      <a mat-list-item routerLink="/admin/attendance" routerLinkActive="active-link">Attendance</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" class="hide-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Admin Dashboard</span>
      <span class="spacer"></span>
      <span *ngIf="adminName" class="welcome">Welcome, {{ adminName }}</span>
      <button mat-button color="accent" (click)="logout()">
         Logout
      </button>
    </mat-toolbar>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
